/* load fonts from src */
@fontface {
	font-family: Yanone Kaffeesatz;
	src: url(src/fonts/YanoneKaffeesatz-Regular.eot);
	src: local("Yanone Kaffeesatz"), url('fonts/YanoneKaffeesatz-Regular.ttf');
}
/* tell browser to render HTML5 as block elements  */
article, aside, figure, footer, header, nav, section, button {
	display: block;
}
/* create an id for a linear background gradient */
#linearBackground{
	/*fallback*/
	background-color: #FFFFFF;
	background: url(pics/backgrounds/fallback.jpg);
	background-repeat: repeat-x;
	/*chrome 1-9, safari 4-5*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	/*chrome 10+, safari 5.1 */
	background: -webkit-gradient(top, #2F2727, #1a82f7);
	/*mozilla 3.6+*/
	background: -moz-linear-gradient(top, #2F2727, #1a82f7);
	/*IE 10*/
	background: -ms-linear-gradient(top, #2F2727, #1a82f7);
	/*opera 11.1+*/
	background: -o-linear-gradient(top, #2F2727, #1a82f7);
}

/*body and other basic element styles */
body{
	font-family: arial, sans-serif;
	font-size: 1em;
}
p{
	line-height: 1em;
	position: relative;
	padding: 5px;
}
h2 h4 h6{
	color: #008000;
	padding: 5px;
	font: normal, 120%, "Yanone Kaffeesatz", arial, sans-serif;
}
h4 h6{
	color: #008000;
	padding: 5px;
	font: normal, 100%, "Yanone Kaffeesatz", arial, sans-serif;
}
h6{
	color: #008000;
	padding: 5px;
	font: normal, 80%, "Yanone Kaffeesatz", arial, sans-serif;
}
h1 h3 h5{
	color: black;
	padding: 5px;
}
img{
	boarder: 0;
	position: relative;
}
.staticImage{}
a.linkImage{}

/* Underline links and Hover/visted color for links */
a.internalLink:link, a.externalLink:link{
	text-decoration: underline; 
}
a.internalLink:hover, a.externalLink:hover{
	color: red; 
}
a.internalLink:visited, a.externalLink:visited{
	color: red; 
}

/* green cirle bullet before unorganized lists, red before organized lists */
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
il{
	padding-left: 1em;
	text-indent: -.7em;
}
ul il:before{
	content: "• ";
    color: #008000;
}
ol il:before{
	content: "• ";
    color: red;
}

/* defining the alignment classes */
/* make sure body predefines margin and padding & IE8: !DOCTYPE */
.right { 
	float: right; 
	width: auto;
	margin-left: 5px;
}
.center { 
	display: block;
	text-align: center;
	margin: 5px auto;
}
.left { 
  float: left;
  width: auto;
  margin-right: 5px;
}

/* Stretch the outer margins to fit the screen dimension */
header, footer, nav, #main, #picCanvas, #activePicCanvas, .content { 
  margin-left: auto; 
  margin-right: auto;
}

/* define the id buttons to have absolute positions */
#buttons {
        position: absolute;
        left: 10px;
        top: 0px;
}
button {
        margin-top: 10px;
}
#toBlue{}
#toYellow{}

/* make a white header with a rounded black boarder */
header {
	width: 260px;
	height: 126px;
	color: #FFFFFF;
	border:2px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border: 3px;
	padding: 0px;	
}

.logo {
	position: relative;
	padding-left: 5;
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
}
/* topLogo or bottomLogo overrides logo class and is aligned left by float*/
#topLogo{
	float: left;
	width: 100px;
	height: 126px;
	font-size: 210%;
}
footer{
	width: 260px;
	height: 126px;
	color: #FFFFFF;
	border:2px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border: 3px;
	padding: 0px;	
}
#bottomLogo{
	float: left;
	width: 100px;
	height: 126px;
	font-size: 210%;
}
/*nav is center aligned, smaller, and green*/
nav {
	width: 250px;
	height: 100px;
	background: green;
	padding: 0px;
	text-align: center;
	margin: 5px auto;
}

/* navList overrides normal ul and ul circle bullets */
.navList il{
	padding-left: 0em;
	text-indent: 0em;
}
.navList il:before{
	content: none;	
}
/* the nav ids takes precedence over the nav classes */
#topNavList{
	font-family:'Yanone Kaffeesatz', arial, sans-serif;
}
#bottomNavList{
	font-family:'Yanone Kaffeesatz', arial, sans-serif;
}

/* The main container between the header and footer */
#main {
	width: 260px;
	padding: 0px;
}
/* The content with a black boarder */
#content {
	width: 250px;
	boarder: 2px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border: 3px;
	position: relative;
	background-color: #FFF;
	padding: 5px;
}

/* main container for canvases with boarder */
#picCanvas {
	width: 250px;
	height: 260px;
	border: 2px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border: 3px;
	position: relative;
	background-color: #FFF;
	padding: 5px;
}
/* active canvas is white without a boarder */
#activePicCanvas{
	width: 250px;
	height: 260px;
	position: relative;
	background-color: #FFF;
	padding: 0px;
}
